<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodafleets.rodacustomer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rodafleets.rodacustomer.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rodafleets.rodacustomer.WelcomeActivity" />
        <activity android:name="com.rodafleets.rodacustomer.SignInActivity" />
        <activity android:name="com.rodafleets.rodacustomer.SignUpActivity" />
        <activity android:name="com.rodafleets.rodacustomer.SignUpVerificationActivity" />
        <activity android:name="com.rodafleets.rodacustomer.VehicleDetailsActivity" />
        <activity android:name="com.rodafleets.rodacustomer.DriverDocs" />
        <activity android:name="com.rodafleets.rodacustomer.VehicleRequestListActivity" />
        <activity android:name="com.rodafleets.rodacustomer.VehicleRequestActivity" />
        <activity android:name="com.rodafleets.rodacustomer.TripProgressActivity" />
        <activity android:name="com.rodafleets.rodacustomer.RequestHistoryListActivity" />


        <service
            android:name="com.rodafleets.rodacustomer.services.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.rodafleets.rodacustomer.services.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNUPU5BnrpbhAZjloAyNbzUanOTlrh1O4"/>

    </application>

</manifest>