<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodafleets.rodacustomer">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VehicleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriverDocs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VehicleRequestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VehicleRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestHistoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestConfirmationDetails"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriversResponseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScehuledTripDetailsActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".services.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDEi-HZe7_UvLsgZgT8uuyLtQVOBRVaOo" />


    </application>

</manifest>